---
import VectorOne from "../assets/ui-one.svg"
import VectorThree from "../assets/ui-three.svg"
import VectorTwo from "../assets/ui-two.svg"

import Bolt from "../assets/bolt.svg"
import Secure from "../assets/lock.svg"
import Money from "../assets/money.svg"
import Wallet from "../assets/wallet.svg"
---

<section class="bg-[#ecf7f8] py-[70px]" id="features">
	<div class="container">
		<!-- Feature Two -->
		<div class="row mb-[100px]">
			<div class="brief-media center one-half column">
				<img alt="VectorTwo" src={VectorTwo.src} class="md-width" />
			</div>

			<div class="one-half column pt-[50px]">
				<h3 class="text-[3.2rem] font-bold">Better, together.</h3>
				<p class="text-[1.8rem] mb-8">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
					elementum tristique.
				</p>

				<div class="brief-items">
					<div class="row mb-8">
						<div class="one-half column flex">
							<img src={Bolt.src} alt="Fast connect" class="w-[25px] -mt-[10px]" />
							<p class="text-[1.3rem] m-0 ml-[10px]">Lorem ipsum dolor sit amet, consectetur.</p>
						</div>
						<div class="one-half column flex">
							<img src={Money.src} alt="Money transfer" class="w-[25px] -mt-[10px]" />
							<p class="text-[1.3rem] m-0 ml-[10px]">Lorem ipsum dolor sit amet, consectetur.</p>
						</div>
					</div>
					<div class="row">
						<div class="one-half column flex">
							<img src={Wallet.src} alt="Digital wallet" class="w-[25px] -mt-[10px]" />
							<p class="text-[1.3rem] m-0 ml-[10px]">Lorem ipsum dolor sit amet, consectetur.</p>
						</div>
						<div class="one-half column flex">
							<img src={Secure.src} alt="Secure connection" class="w-[25px] -mt-[10px]" />
							<p class="text-[1.3rem] m-0 ml-[10px]">Lorem ipsum dolor sit amet, consectetur.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Feature One -->
		<div class="row mb-[100px]">
			<div class="one-half column pt-[50px]">
				<h3 class="text-[3.2rem] font-bold">Better, together.</h3>
				<p class="text-[1.8rem] mb-8">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
					elementum tristique.
				</p>

				<div class="brief-items">
					<div class="row mb-8">
						<div class="one-half column flex">
							<img src={Bolt.src} alt="Fast connect" class="w-[25px] -mt-[10px]" />
							<p class="text-[1.3rem] m-0 ml-[10px]">Lorem ipsum dolor sit amet, consectetur.</p>
						</div>
						<div class="one-half column flex">
							<img src={Money.src} alt="Money transfer" class="w-[25px] -mt-[10px]" />
							<p class="text-[1.3rem] m-0 ml-[10px]">Lorem ipsum dolor sit amet, consectetur.</p>
						</div>
					</div>
					<div class="row">
						<div class="one-half column flex">
							<img src={Wallet.src} alt="Digital wallet" class="w-[25px] -mt-[10px]" />
							<p class="text-[1.3rem] m-0 ml-[10px]">Lorem ipsum dolor sit amet, consectetur.</p>
						</div>
						<div class="one-half column flex">
							<img src={Secure.src} alt="Secure connection" class="w-[25px] -mt-[10px]" />
							<p class="text-[1.3rem] m-0 ml-[10px]">Lorem ipsum dolor sit amet, consectetur.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="one-half column text-center">
				<img alt="VectorOne" src={VectorOne.src} class="w-[300px] inline-block" />
			</div>
		</div>

		<!-- Feature Three -->
		<div class="row mb-[100px]">
			<div class="one-half column text-center">
				<img alt="VectorThree" src={VectorThree.src} class="w-[300px] inline-block" />
			</div>

			<div class="one-half column pt-[50px]">
				<h3 class="text-[3.2rem] font-bold">Better, together.</h3>
				<p class="text-[1.8rem] mb-8">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
					elementum tristique.
				</p>

				<div class="brief-items">
					<div class="row mb-8">
						<div class="one-half column flex">
							<img src={Bolt.src} alt="Fast connect" class="w-[25px] -mt-[10px]" />
							<p class="text-[1.3rem] m-0 ml-[10px]">Lorem ipsum dolor sit amet, consectetur.</p>
						</div>
						<div class="one-half column flex">
							<img src={Money.src} alt="Money transfer" class="w-[25px] -mt-[10px]" />
							<p class="text-[1.3rem] m-0 ml-[10px]">Lorem ipsum dolor sit amet, consectetur.</p>
						</div>
					</div>
					<div class="row">
						<div class="one-half column flex">
							<img src={Wallet.src} alt="Digital wallet" class="w-[25px] -mt-[10px]" />
							<p class="text-[1.3rem] m-0 ml-[10px]">Lorem ipsum dolor sit amet, consectetur.</p>
						</div>
						<div class="one-half column flex">
							<img src={Secure.src} alt="Secure connection" class="w-[25px] -mt-[10px]" />
							<p class="text-[1.3rem] m-0 ml-[10px]">Lorem ipsum dolor sit amet, consectetur.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
